h1{
    
}


header{
    display: flex;
     align-items:center;
     justify-content: space-around;
}

ul{
    display:flex;
     align-items: flex-end;
    justify-content:flex-end;

    
    
}


li{
    list-style-type: none;
   align-items:right;
    padding:10px;
}
a{
    color:black;
    text-decoration:none;
}

.main{
    display: flex;
    justify-content:space-around;
    
}

aside{
    padding-right: 50px;
}