h1{
    
}

header{
    display: flex;
    
    align-items:right;
    
}
ul{
    display:flex;
    align-items:right;
    
    
}


li{
    list-style-type: none;
   align-items:right;
    padding:10px;
}
a{
    color:black;
    text-decoration:none;
}